.connexion-wrapper
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../image/poudre.jpg');
    background-size: cover;
}

.connexion-wrapper .wrapper
{
    position: relative;
    top: 150px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 5px;
}

.wrapper form
{
    color: #FFFFFF;
}

.wrapper form label
{
    color : #FFFFFF;
}

.wrapper form input
{
    border-bottom-color: #FFFFFF;
}

.wrapper form a.btn-forgot-pass
{
    color : #FFFFFF;
}

.wrapper form a.btn-register
{
    color : #FFFFFF;
    margin-left: 42px;
}

.wrapper form div.image-container i
{
    font-size: 100%;
    text-align: center;
    padding: 2%;
    border: 2px solid #FFFFFF;
    border-radius: 60%;
    margin-left: 10px;
}

.wrapper form div.image-container
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/***************** register *******************/

.register-wrapper
{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: url('../image/poudre.jpg');
    background-size: cover;
}

.register-wrapper .wrapper
{
    position: relative;
    top: 75px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    border-radius: 5px;
}

/**** Profile *****/
.profile-setup-container
{
    position: relative;
    left: 225px;
}

.profile-container-properties
{
    padding: 50px 20px;
    background-color: #FFFFFF;
}

.profile-setup
{
    position: relative;
    left: 100%;
    border-right: 1px solid #C2CCD1;
    border-left: 1px solid #C2CCD1;
}

.profile-setup .pseudo h6
{
    font-size: 14px;
}

.profile-setup
{
    text-align: center;
}

.profile-setup .profile-pic img
{
    height: 100px;
    width: 100px;
    box-shadow: 1px 1px 3px 3px #C2CCD1;
}
