/************************general***********************/
body
{
    margin: 0;

}

body.main{
	background: #ecf0f1;
	color:#000000;
	font-family:"zekton", Helvetica, Arial, sans-serif;
	overflow-x:hidden;
    height: 100vh;
}

body .btn
{
    background-color: rgb(28, 67, 84) ;
}

body .btn:hover
{
    background-color: rgba(28, 67, 84, 0.86);
}

body span.badge.new:after
{
    content: " votes";
}

div.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
{
    color: rgb(28, 67, 84);
}

div.card div.card-action a:hover
{
    color: rgba(28, 67, 84, 0.73);
}

div.card .card-content p
{
    font-size: 13px;
}

.best-program-user p
{
    font-size: 12px;
}

.succes-msg
{
    color:  green;
}

.error
{
    display: none;
    color: #F44336;
    font-size: 12px;
}

/******************navbar-fixed-top*****************/

nav .theme{
	background: rgb(28, 67, 84) ;
}


.navbar-dark .navbar-brand{
	text-transform: uppercase;
	font-family:"Sport Night";
	font-size: 26px;
}

.navbar-dark .form-inline{
	padding-top:5px;
}

@font-face{
	font-family:"Sport Night";
	src: url('font/sf_sports_night/SF Sports Night Alternate.ttf');
}
@font-face{
	font-family: "zekton";
	src: url('font/zekton/zekton rg.ttf');
}

/********************* sidebar ****************************/


.bg-image-sidebar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:rgba(29, 68, 86, 0.55);
	z-index: -100;
}

.bio, .exp
{
   font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar{
	position: fixed;
	background: rgba(49, 112, 143, 0.78);
	background: url('../image/alt-blur.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	color:#FFFFFF;
	box-shadow: 2px 0 2px rgba(55, 58, 60, 0.56);
}

.sidebar-position
{
    width: 19vw;
}

.content-position
{
    width: 80vw;
}

.menu nav
{
    background-color: transparent;
	box-shadow: 0 0 0 transparent;
}

.menu nav ul li
{
    width: 100%;
}

.menu nav ul li a
{
    width: 100%;
}

.menu nav ul li a i
{
    margin-right: 15px;
}

.profil .pseudo h6
{
    font-size: 18px;
}

.profil .profil-pic img{
	color:#fff;
	width:60px;
	height:60px;
	border:1px solid rgb(144, 144, 144);
	margin-left: 10px;
	margin-top:15px;
	background:url('../image/fond-pp.jpg');
	border-radius:50%;
}
.search {
	color: #FFFFFF;
	background: rgb(53, 60, 66);
	position:relative;
	left: -1px;
	height:36px;
	border:1px solid #2B2A2A;
}

.input-group{
	width:20%;
	margin-top:5px;
}

.input-search{
	background:rgb(53, 60, 66);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height:36px;
	border:1px solid #2B2A2A;
	color: #fff;
}

/********************flux ***************/

.social-flux .pseudo h5{
    text-align: center;
    color: #05A9B3;
    font-weight: 400;
    float: left;
    margin:0;
}


.profil {
	text-align: center;
	margin: 0px 0px 20px 0px;
}

.pseudo h5{
	text-align: center;
	color: #FFFFFF;
	font-weight: 800;
    font-size: 16px;
}

.dash
{
    height: auto;
    padding-bottom: 20px;
    background-color:#FFFFFF;
}

div.middle
{
    position: relative;
    left:20vw;
}

.middle nav
{
    color: #000000;
    background: transparent;
}

.middle nav .nav-wrapper a
{
    font-size: 12px;
    color: #000000;
}

.middle nav .nav-wrapper .breadcrumb:before
{
    color: #000000;
}

.programs .title
{
    padding-top: 20px;
}

.programs .content
{
    margin-left: 12px;
}

.programs .content ul li div
{
    font-size: 14px;
}

.programs .content ul li div span.number
{
    font-weight: bold;
   /* margin-right: 10px;*/
}

.programs .content ul li div span.new:after
{
    content: " votes";
}

.programs .content ul li div span.badge
{
    position: relative;
    padding: 6px;
    font-size: 12px;
}

.programs .content ul li div.chip
{
    position: relative;
}

.programs .btn-voir
{
    margin-top: 15px;
    height: 32px;
    font-size: 10px;
}

.description
{
    font-size: 12px;
}

.flux
{
    position: relative;
    top:20px
}

/*
.card .card-image img
{
    height: 350px;
}*/

.date
{
    font-size: 10px;
}

div.comment .img-c
{
    height: 36px;
    width: 36px;
}

.card .comment div.cmt-img-div
{
    position: relative;
    top:23px;
    left:18px;
    padding: 0;
}

.card .comment div.input-cmt
{
    position: relative;
    right:10px;
}

span.username
{
    color: rgb(41, 100, 125);
    font-size: 16px;
    font-weight: bold;
}

span.date-rapel
{
    font-size: 12px;
    font-weight: 600;
}

div.best-program-user
{
    position: relative;
    height: 300px;
}

span.online
{
    color: #008401;
}

.user-online i{
    color: #008401;
}

form.share-form
{
    padding: 20px 0;
    height: auto;
    background-color: #FFFFFF;
    margin: 10px 0 20px 0;
}

div.list-prog ul
{
    z-index: 999;
}

a.inscription
{
    color: orange;
}

/************* lists de programme *************/

div.middle.programs
{
    position: relative;
    left: 246px;
}

.list-program
{
    position: relative;
    height: auto;
    background-color: #FFFFFF;
    padding: 0 0 50px 0;
}

div .collection-content
{
    position: relative;
    left:0;
}

.program-content
{
    position: relative;
    top: 15px;
}

.program-content h6
{
    text-align: center;
}

.training-content
{
    position: relative;
    top: 50px;
}

.training-image img
{
    height: 160px;!important;
    width: 180px;!important;
}

.video video
{
    height: 160px;!important;
    width: 180px;!important;
    background: #000000;
}

div.line
{
    margin-top: 30px;
}

.addprog
{
    height: 100vh;
    background: #FFFFFF;
}

div.exo
{
    display: none;
}

.list-program .description
{
    font-size: 12px;
}